<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
  <meta charset="utf-8">

  <title>Midterm Project</title>
  <!--
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css">
  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body ng-controller="mainController">

	<audio id="audio1" src="sounds/beep1.mp3"></audio>
	<audio id="audio2" src="sounds/open.mp3"></audio>


	<div class="inside">
	<div class="medium-box curves"></div>
		<div class="big-box" ng-class="{'back': openClick}">
			<div class="frame curves black">
				<div class="window curves"></div>
			</div>
		</div>
			
	</div>

	<div class="small-box">
		<div class="keypad curves black">
			<input class="screen curves" id="number" placeholder="00:00">
	
			<button class="key-button black" onclick="number_write(1); playSound1()">1</button>
			<button class="key-button black" onclick="number_write(2); playSound1()">2</button>
			<button class="key-button black" onclick="number_write(3); playSound1()">3</button>
			<button class="key-button black" onclick="number_write(4); playSound1()">4</button>
			<button class="key-button black" onclick="number_write(5); playSound1()">5</button>
			<button class="key-button black" onclick="number_write(6); playSound1()">6</button>
			<button class="key-button black" onclick="number_write(7); playSound1()">7</button>
			<button class="key-button black" onclick="number_write(8); playSound1()">8</button>
			<button class="key-button black" onclick="number_write(9); playSound1()">9</button>
			<button class="key-button black" ng-click="stop()" onclick="number_clear(); playSound1()"><span class="text-font">Stop</span></button>
			<button class="key-button black" onclick="number_write(0); playSound1()" >0</button>
			<button class="key-button black" ng-click="countdown()"onclick="playSound1()"><span class="text-font">Start</span></button>
		</div>

		<button class="open-button curves" onclick="playSound2()" ng-click="openMicro()">

	</div>

<!--
		       <p>{{min}} : {{sec}}</p>
            <span ng-hide="durationDisappear">Timer Duration: <input ng-change="enterTime()" type="text" name="timer" ng-model="min" style="width: 20px;"> minutes.</span><br>   
            <button ng-click="countdown()">Start</button> 
            <button ng-click="pause()">Pause</button>
            <button ng-click="stop()">Cancel</button>
     
       -->





  	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  	<script src="clock.js"></script>
	<script src="main.js"></script>

</body>
</html>
