button, input {
	outline: none;
	cursor: pointer;
}
input {
	text-align: center;
	color: #3E90CB;
	font-size: 50px;
}
.black {
	background-color: #141416;
}

.curves {
	border-radius: 1em;
}
.text-font {
	font-size: 15px;
}

.big-box {
	height: 550px;
	width: 755px;
	background-color: #E5E4E2;
	position: absolute;
	top: 0px;
	left: -8px;
	border-radius: 1em  0 0 1em;
	background-position: center center;
}

.medium-box {
    height: 500px;
    width: 713px;
    background-color: #CCCCCC;
    position: absolute;
    top: 25px;
    left: 20px;
    z-index: -1;
}


.small-box {
	height: 550px;
	width: 243px;
	background-color: #E5E4E2;
	position: absolute;
	top: 100px;
	left: 806px;
	border-left: 2px solid black;
	border-radius: 0 1em 1em 0;
}

.frame {
	height: 420px;
	width: 700px;
	position: absolute;
	top: 40px;
	left: 40px;
}

.window {
	height: 320px;
	width: 600px;
	background-color: #363732;
	position: absolute;
	top: 50px;
	left: 50px;

}

.keypad {
	height: 420px;
	width: 200px;
	position: absolute;
	top: 40px;
	left: 20px;

}

.screen {
	height: 100px;
	width: 180px;
	background-color: #363732;	
	margin: 7px;
}

.key-button {
	width:50px;
	height:50px;
	margin:8px;
	float:left;
	border-radius: 20px;
	font-size:36px;
	text-align:center;
	border: 1px solid white;
	color: white;
}

.open-button {
	height: 80px;
	width: 200px;
	border: 1px solid black;
	position: absolute;
	top: 468px;
	left: 20px;
	background-color: #E5E4E2;

}


/* Animation */
.big-box {
	  transition: 1s transform linear;
      transform-origin: left;
      float: left;
}

.back {   
	transform: rotateY(-90deg);
	transform: preserve-3d;
	transform-origin: 8px;
	transition: .5s linear;

}

.inside {
	background-color: #E5E4E2;
    float: left;
    height: 550px;
	width: 755px;
    -webkit-perspective: 8000;
	z-index: -2;
	position: absolute;
	top: 100px;
	left: 50px;
	border-radius: 1em 0 0 1em;
}
/* End of Animation */
